.back-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#greetings {
    font-family: cursive;
    font-size: 50px;
}

#inputField {
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    transition: width 0.4s ease-in-out;
}
#inputField:focus {
    width: 50%;
}

/* CSS */
#sorting_title, #sorting_created, #sorting_answer_count, #newquestion, #backButton,#showTheAnswersButton,#showTheAnswersBackButton, #deleteButton,#submitButton {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#answerInput {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    transition: width 0.4s ease-in-out;
}

#answerInput:focus {
    width: 50%;
}


.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#sortingButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 700px;
    height: 118px;
    border: 27px solid rgba(208, 13, 13, 0.73);
    background: #bfdc03;
    margin: 14px auto; /* Added 'auto' to center the container horizontally */
}

input[type="text"] {
    width: 160px;
    padding: 4px;
}

div#home {
    background-color: darkseagreen;
}

html, body {
    height: 100%;
    background-color: antiquewhite;
}


/* CSS */
#questionlist {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 80px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
}

#questionlist:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#questionlist:main,
#questionlist:focus {
    user-select: auto;
}

#questionlist:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#questionlist:disabled {
    cursor: auto;
}



